<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="menu-col">
      <h1 class="display-3">Session it</h1>
      <p class="desc"> A place where you can find or offer quick lessons for a variety of hobbies. Devlelop your skills or try something new. Join up today </p>
      <p><%= link_to "Sign up", new_user_registration_path, method: :get, :class => "btn btn-primary btn-lg main-btn" %></p>
    </div>
  </div>

  <div class="">
    <!-- Example row of columns -->
    <div class="row-lessons">
      <div class="menu-col">
        <h2>Lessons</h2>
        <p>Check out available lessons here</p>
        <%= link_to "View", lessons_path, method: :get, :class => "btn btn-secondary view-btn main-btn" %>
      </div>
  </div>
</main>

<footer class="container">
  <p class="copy">© Session_it 2020 - For demonstration purposes only</p>
</footer>