// * {
//     border: red 0.5px solid;
// }

.btn:visited {
    color: #dedede;
}

.profile_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.classroom_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.lesson_image {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.banner_image {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
}