.btn:visited {
    color: #dedede;
}

.profile_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.classroom_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}