<%= form_with(model: booked, local: true) do |form| %>
  <% if booked.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booked.errors.count, "error") %> prohibited this booked from being saved:</h2>

      <ul>
        <% booked.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
